<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navCtrl.back()">
        <ion-icon color="medium" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-row class="flex items-center justify-around text-sm">
      <ion-col size="1" class="mr-8">
        <ion-button color="dark" [disabled]="!running && !canStartTransport()" size="small"
          (click)="running ? osmdStop() : startTransport()" class="flex items-center w-24">
          <ion-icon [name]="running ? 'stop-outline' : 'play-outline'" slot="start"></ion-icon>
          <ion-text>
            {{ getTransportLabel() }}
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="1">
        <ion-button color="dark" [disabled]="running || !fileLoaded" size="small"
          [fill]="checkboxWaitMode ? 'solid' : 'outline'" (click)="toggleWaitMode()">
          <ion-icon name="pause-circle-outline" slot="start"></ion-icon>
          <ion-text>
            Wait {{ checkboxWaitMode ? 'On' : 'Off' }}
          </ion-text>
        </ion-button>
      </ion-col>
      <ion-col size="3" class="mr-8" *ngIf="!isMobileLayout">
        <ion-row class="flex items-center">
          <ion-label class="mr-2">
            Tempo
          </ion-label>
          <select class="tempo-select" [(ngModel)]="tempoPreset" (ngModelChange)="updateTempoPreset($event)">
            <option value="normal">Normal</option>
            <option value="slow">Slow</option>
            <option value="verySlow">Very Slow</option>
          </select>
          <ion-button fill="clear" color="dark" size="small" (click)="adjustTempo(-5)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-label class="tempo-value text-right opacity-80">
            {{ getEffectiveTempoBPM() }} BPM
          </ion-label>
          <ion-button fill="clear" color="dark" size="small" (click)="adjustTempo(5)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col size="{{ isMobileLayout ? 4 : 3 }}">
        <ion-row class="flex items-center">
          <ion-button color="dark" [disabled]="running || !fileLoaded" size="small"
            [fill]="isLoopEnabled() ? 'solid' : 'outline'" (click)="toggleRangePicker()">
            <ion-icon name="sync-outline" slot="start"></ion-icon>
            <ion-text>Loop</ion-text>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-buttons slot="end">
      <ion-menu-button type="reset">
        <ion-icon name="settings-outline" color="medium"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="play-content" class="flex items-center justify-center">
  <ion-refresher slot="fixed" (ionRefresh)="refreshMidiDevices($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row *ngIf="fileLoadError" class="flex justify-center items-center my-8">
    <ion-label color="danger">
      Error loading file
    </ion-label>
  </ion-row>
  <ion-row *ngIf="!fileLoaded && !fileLoadError" class="flex justify-center items-center my-8">
    <ion-spinner name="circles"></ion-spinner>
    <ion-label class="m-4">Preparing your masterpiece...</ion-label>
  </ion-row>
  <div class="score-shell" id="scoreOverlayHost" [class.score-shell--locked]="running">
    <ion-row style="background-color: white;" id="osmdContainer"></ion-row>
    <div class="score-shell__interaction-blocker" *ngIf="running"></div>

    <div class="score-range-overlay" *ngIf="fileLoaded">
      <div
        *ngFor="let measure of getRangeShadedMeasures()"
        class="score-range-overlay__shade"
        [ngStyle]="getMeasureShadeStyle(measure)"
      ></div>

      <div class="score-range-overlay__selection" *ngIf="showRangePicker && !running">
        <div
          *ngIf="getRangeHandleStyle('start').left"
          class="score-range-overlay__handle score-range-overlay__handle--start"
          [ngStyle]="getRangeHandleStyle('start')"
          (pointerdown)="startRangeHandleDrag('start', $event)"
        >
          <div class="score-range-overlay__grabber">
            <ion-icon name="reorder-two-outline"></ion-icon>
          </div>
        </div>
        <div
          *ngIf="getRangeHandleStyle('end').left"
          class="score-range-overlay__handle score-range-overlay__handle--end"
          [ngStyle]="getRangeHandleStyle('end')"
          (pointerdown)="startRangeHandleDrag('end', $event)"
        >
          <div class="score-range-overlay__grabber">
            <ion-icon name="reorder-two-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <app-piano-keyboard *ngIf="checkboxKeyboard"></app-piano-keyboard>
</ion-footer>

<ion-menu contentId="play-content" side="end">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="m-4">
    <ion-item >
      <ion-label>MIDI input</ion-label>
      <ion-text slot="end" color="{{ !midiAvailable && 'danger' }}">{{ midiDevice }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Listen on MIDI</ion-label>
      <ion-toggle [disabled]="running || !midiAvailable" [(ngModel)]="checkboxMidiOut"  color="dark" slot="end" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Metronome</ion-label>
      <ion-toggle [(ngModel)]="checkboxMetronome" color="dark" slot="end" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let id of staffIdList">
        <ion-label color="dark">{{ getStaffToggleLabel(id) }}</ion-label>
        <ion-toggle [disabled]="running || !fileLoaded" [(ngModel)]="staffIdEnabled[id]" color="dark" slot="end" [enableOnOffLabels]="true"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label color="dark">Show feedback</ion-label>
      <ion-toggle [(ngModel)]="checkboxFeedback" color="dark" slot="end" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Show keyboard</ion-label>
      <ion-toggle [(ngModel)]="checkboxKeyboard" color="dark" slot="end" [enableOnOffLabels]="true"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="isMobileLayout">
      <ion-label color="dark">Tempo preset</ion-label>
      <select class="tempo-select" slot="end" [(ngModel)]="tempoPreset" (ngModelChange)="updateTempoPreset($event)">
        <option value="normal">Normal</option>
        <option value="slow">Slow</option>
        <option value="verySlow">Very Slow</option>
      </select>
    </ion-item>
    <ion-item *ngIf="isMobileLayout">
      <ion-label color="dark">{{ getEffectiveTempoBPM() }} BPM</ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="dark" size="small" (click)="adjustTempo(-5)">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark" size="small" (click)="adjustTempo(5)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label><p>Build version</p></ion-label>
      <ion-label slot="end"><p>{{ playVersion }}</p></ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
